@import "~bootstrap/scss/bootstrap.scss";

.footer-copyright{
    color: white;
}
Nav.Link{
    justify-content: end;
}

.navbar{
    padding: 0 8vw !important;
}
.aboutjumbotron{
    margin-top:70px;
}

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
